# ========================================
# 🐍 Python
# ========================================
__pycache__/
*.pyc
*.pyo
*.pyd
*.log
*.db
*.sqlite3

# ========================================
# 🧱 Virtual Env
# ========================================
venv/
.env/
.envrc
.venv/

# ========================================
# 🐋 Docker
# ========================================
*.bak
*.swp
*.tmp
data/
*.pid
*.sock
.dockerignore
Dockerfile
docker-compose.override.yml

# ========================================
# 🧠 IDE / Sistema
# ========================================
.idea/
.vscode/
.DS_Store
Thumbs.db
*.code-workspace

# ========================================
# 🔒 Logs e temporários
# ========================================
logs/
*.log
*.tmp
*.cache
*.bak
*.swp
temp/
tmp/
